.admin-menu{
background-color: #B2DFDB;
font-weight: 700;
border:  0.1rem solid black;
color: black;
box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
margin: 0.em;
}

