
.category {
  
    flex-wrap: wrap;
    margin-top: 5rem !important;
   

  }
  .category .card {
    width: 19rem;
    background-color: rgba(247, 246, 238, 0.346);   
    box-shadow: rgba(136, 165, 191, 0.48) 6px 2px 16px 0px, rgba(255, 255, 255, 0.8) -6px -2px 16px 0px;
  }

  .category .card-name-price {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
  }
  
  .category .card-price {
    color: green;
    font-weight: bold;
   
  }
  .category button {
    border-radius: 0;
    width: 100%;
    border-top-left-radius: 5px;
    border-bottom-right-radius: 5px;
    font-size: 1rem;
    font-weight: bold;
    background-color: #130f40;
    border: 1px solid black;
    color: white;
    box-shadow: rgb(38, 57, 77) 0px 1.25rem 1.875 -0.625rem;
  }

  .category button:hover {
    box-shadow: rgba(6, 24, 44, 0.4) 0px 0px 0px 2px, rgba(6, 24, 44, 0.65) 0px 4px 6px -1px, rgba(255, 255, 255, 0.08) 0px 1px 0px inset;
    transition: 0.3s;
  }
  
  .category .card-text {
    color: rgb(90, 89, 89);
  }
  
  .category .card img:hover {
    transform: scale(0.9);
  }
  
  .category .card-img-top {
    height: 18.75rem !important;
    padding: 1rem;
  }